{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {{block "title" .}}Calagora Administration{{end}}
    </title>
    <link rel="stylesheet" type="text/css" href=
      "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link rel="stylesheet" type="text/css" href="/css/fi/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    {{block "body" .}}
      Nothing here LOL
    {{end}}
  </body>
</html>
{{end}}
